<h1>Products</h1>

<div class="form-group">
  <div class="col-md-4 ">
    <div class="col-md-9">
      <div class="input-group table-search">
        <div class="input-group-addon">
          <i class="menu-icon fa fa-search"></i>
        </div>
        <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="search-input form-control" type="text"
               placeholder="search: id, name, price.."
               [(ngModel)]="filter"
               ng-model-options="{ debounce: 300 }" />
      </div>
    </div>    
  </div>
</div>

<table class="table table-striped table-bordered table-custom" *ngIf="products">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products | filter:filter | paginate: { itemsPerPage: 10, currentPage: p };">
      <td style="line-height: 30px">{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div class="table-navigation">
    <pagination-controls class="pagination-sm" (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
